.tag-cloud-wrap{
  width: 250px;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  padding-bottom: 16px;
  box-shadow: 0 8px 24px -2px rgb(0 0 0 / 10%);
  .tags{
    padding: 0 12px;
  }
}
