.footer {
  //height: 200px;
  //background-color: #\;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .records-wrap{
    display: flex;
    align-items: center;
  }

}
