
.CodeMirror .cm-spell-error:not(.cm-url):not(.cm-comment):not(.cm-tag):not(.cm-word) {
  background: none !important;
}

.article-wrap {
  padding-top: 30px;

  .article-detail {

    width: 850px;
    padding: 30px;
    margin-left: 100px;
    //margin: 10px 0;
    background-color: #fff;
    font-family: 'Lato', 'PingFang SC', 'Microsoft YaHei', sans-serif;
    color: #555;
    line-height: 2;
    box-sizing: border-box;
    box-shadow: 0 8px 24px -2px rgb(0 0 0 / 10%);

    .article-info {
      background-color: #fff;
      margin-bottom: 40px;

      .article-title{
        font-size: 30px;
        font-weight: 700;
        word-break: break-word;
        text-align: center;
        text-shadow: 2px 2px 50px rebeccapurple
      }
      .time{
        display: flex;
        justify-content: center;
        &>span{
          margin-left: 20px;
          display: flex;
          align-items: center;
          justify-content: space-around;
          &>span{
            margin-left: 4px;
          }
        }
      }
    }

    .article-content {
      img {
        max-width: 100%;
        margin: 0 auto 25px;
        box-sizing: border-box;
        padding: 3px;
        //border: 1px solid #ddd;
      }
      p{
        font-size: 16px;
      }

      pre, code {
        font-family: consolas, Menlo, 'PingFang SC', 'Microsoft YaHei', monospace;
      }

      code {
        //padding: 2px 4px;
        word-wrap: break-word;

        //color: #ff502c;
        //background: #fff5f5;
        border-radius: 3px;

        font-size: 13px;
      }

      pre {
        padding: 1.25em 1.5em;
        overflow: auto;
        margin: 20px 0;
        font-size: 13px;
        //color: #4d4d4c;
        //background: #f7f7f7;
        line-height: 1.6;
      }

      pre code {
        padding-left: 0;
        //color: #555;
        //background: #1e1e1e;
        position: relative;
        border-left: 6px solid #ef7900;
        //设置一个计数器 line 初始值-1
        counter-reset: line -1;
        box-decoration-break: clone;
        text-shadow: none;
        font-family: consolas, Menlo, 'PingFang SC', 'Microsoft YaHei', monospace;

        & .haoolee-count-line {
          padding-left: 4em;
          counter-increment: line;
          position: relative;

          &:before {
            content: counter(line);
            position: absolute;
            left: 0;
            text-align: right;
            width: 3em;
            padding-right: 0.5em;
            color: #999;
            border-right: 1px solid #999;
          }
        }
      }

      :not(pre) code {

        color: #c7254e;
        background-color: #f2f2f2;
        padding: 2px 4px;
        border: none;
        vertical-align: middle;
        white-space: pre-wrap;
      }

      h2,
      h3,
      h4,
      h5,
      h6 {
        margin: 40px 0 15px 0px;
        padding-top: 10px;
        border-bottom: 1px solid #eee;
        font-weight: bold;
        line-height: 1.5;
        font-family: 'Lato', 'PingFang SC', 'Microsoft YaHei', sans-serif;
        color: #555;
      }

      h2 {
        font-size: 1.6em;
      }

      h3 {
        font-size: 1.5em;
        border-bottom: 1px dotted #eee;
      }

      h4 {
        font-size: 1.4em;
      }

      ul {
        padding-left: 20px;

        li {
          line-height: 2;
          list-style: circle;
        }
      }

      blockquote {
        margin: 1em 0;
        border-left: 4px solid #ddd;
        padding: 0 1em;
        color: #666;

        p {
          margin: 0.5em 0;
          line-height: 1.7em;
        }
      }

      table {
        font-size: 0.8em;
        max-width: 100%;
        overflow: auto;
        border: 1px solid #f6f6f6;
        border-collapse: collapse;
        border-spacing: 0;

        thead {
          background: #f6f6f6;
          color: #000;
          text-align: left;
        }

        tr {
          display: table-row;
          vertical-align: inherit;
          border-color: inherit;

          &:nth-child(2n) {
            background-color: #fcfcfc;
          }
        }

        th {
          padding: 0.8em 0.5em;
          line-height: 1.5em;
        }

        tbody {
          display: table-row-group;
          vertical-align: middle;
          border-color: inherit;

          td {
            min-width: 7.5em;
            padding: 0.8em 0.5em;
            line-height: 1.5em;
          }
        }
      }

      ol {
        list-style: decimal;
        margin: 5px 0 5px 15px;
      }
    }

    .like-wrap{
      padding-top: 40px;
      display: flex;
      justify-content: center;
      .like-btn{
        &:hover{
          animation: shake 1s cubic-bezier(.36, .07, .19, .97) ;
        }
        @keyframes shake {
          48%, 62% {
            transform: scale(1.0, 1.0)
          }
          50% {
            transform: scale(1.1, 0.9)
          }
          56% {
            transform: scale(0.9, 1.1) translate(0, -5px)
          }
          59% {
            transform: scale(1.0, 1.0) translate(0, -3px)
          }
        }

      }
    }


  }
}

.sidebar {
  position: absolute;
  right: 0;
  top: 0;
  width: 240px;
  min-height: 100%;
}

.catalogue {
  position: sticky;
  top: 90px;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  max-height: 600px;
  overflow-y: auto;
}
