
.container {
  min-height: 90vh;
  pointer-events: none;
  //margin-bottom: 90vh;
  width: 1200px;
  margin: auto;
  position: relative;

  .slogan-wrap {
    position: absolute;
    left: 0;
    right: 0;
    margin: 100px auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;

    span {
      font-size: 30px;
      font-weight: lighter;
    }

    .name {
      display: inline-block;
      padding-right: 20px;
      font-size: 55px;
      font-weight: lighter;
      border-right: 3px solid orange;
      margin-right: 20px;
    }
  }

}

@media only screen and (max-width: 767px) {
  .container {
    width: 100%;

    .slogan-wrap {
      flex-direction: column;



      .name {
        border-right:none;
        border-bottom: 3px solid orange;
        margin: 0 0 30px;
        padding: 0;
      }
    }
  }
}
